<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ThomasMTITools" value="https://pkgs.dev.azure.com/Thomas-MTI/cfd97dcd-d520-4e43-802c-8877a9de8564/_packaging/ThomasMTITools/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>